<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="hawaianGreet" class="org.sistema.spring.log4j.models.Greet">
		<property name="greeting" value="Aloha" />
	</bean>

	<bean id="greetingEngine" class="org.sistema.spring.log4j.models.GreetingEngine">
		<property name="greet" ref="hawaianGreet" />
		<property name="times" value="10" />
	</bean>

</beans>
